html {
  cursor: help;
}

body {
  background: #FFFFFF;
  background: -moz-radial-gradient(center, #FFFFFF 0%, #FFFFFF 50%, #FFE9E6 100%);
  background: -webkit-radial-gradient(center, #FFFFFF 0%, #FFFFFF 50%, #FFE9E6 100%);
  background: radial-gradient(ellipse at center, #FFFFFF 0%, #FFFFFF 50%, #FFE9E6 100%);
}

img {
  cursor: grab;
}

h1 {
  font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: -1px;
  word-spacing: 3px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}

h2 {
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: -1px;
  word-spacing: 3px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: none;
  font-variant: normal;
  text-transform: none;
}

button {
  padding: 20px;
  cursor:cell;
}
